* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
.wrapper {
  width: 1201px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}
/* header */
.main-nav {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  align-items: flex-end;
  margin-bottom: 128px;
}
.site-logo {
  text-decoration: none;
  color: #95e1d3;
  font-size: 30px;
  line-height: auto;
  font-weight: 700;
}
.main-menu {
  display: flex;
  width: 491px;
  justify-content: space-between;
}
.main-menu-item {
  list-style: none;
}
.menu-item-link {
  text-decoration: none;
  color: #95e1d3;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
.menu-item-link:hover,
.menu-item-link:focus {
  color: #f38181;
}

.menu-item-link:after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  bottom: -12px;
  left: 0;
  opacity: 0;
  transition: all 0.2s linear;
}

.menu-item-link:hover:after {
  opacity: 1;
  width: 100%;
}
/* end header */

/* body */

.question {
  text-align: center;
  font-size: 24px;
  line-height: auto;
  color: #333333;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 15px;
}

h2 {
  text-align: center;
  font-size: 30px;
  line-height: auto;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  position: relative;
}
.service h2 {
  margin-bottom: 106px;
}

h2:after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 94px;
}

.services-item {
  width: 381px;
  list-style: none;
  padding-left: 82px;
  position: relative;
}
.services-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 100px;
}

#photography:before {
  content: url(../img/icons/ALARM.png);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 20px;
}
#web:before {
  content: url(../img/icons/LINE\GRAPH.png);
  position: absolute;
  top: 0;
  left: 20px;
}
#creativity:before {
  content: url(../img/icons/COMPUTER\_\OK.png);
  position: absolute;
  top: 0;
  left: 20px;
}
#seo:before {
  content: url(../img/icons/BOOK\2png);
  position: absolute;
  top: 0;
  left: 20px;
}
#css:before {
  content: url(../img/icons/HOME.png);
  position: absolute;
  top: 0;
  left: 20px;
}
#digital:before {
  content: url(../img/icons/IMAGE.png);
  position: absolute;
  top: 0;
  left: 20px;
}
.item-name {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 400;
  margin-bottom: 18px;
}
.text {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #999999;
  line-height: 24px;
  max-width: 942px;
  margin: 0 auto;
}
.about-team {
  text-align: center;
  margin-bottom: 100px;
}

.our-team h2 {
  margin-bottom: 88px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.team-member {
  font-size: 0;
  position: relative;
  width: 380px;
  height: 470px;
  transition: all.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-member::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(252, 227, 138, 1) 0%,
    rgba(243, 129, 129, 0.896796218487395) 100%
  );
  opacity: 0;
  transition: all.2s linear;
}
.team-member::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #95e1d3;
  z-index: -1;
}

.team-member img {
  transition: all.2s linear;
}

.team-list-item:hover .team-member img {
  transform: translate(-10px, -10px);
}

.team-list-item:hover .team-member::after {
  transform: translate(-10px, -10px);
  opacity: 1;
}

.social-icons {
  position: absolute;
  display: flex;
  opacity: 0;
  z-index: 10;
  transition: all.2s linear;
}

.team-list-item:hover .social-icons {
  transform: translate(-10px, -10px);
  opacity: 1;
}

.team-name {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 400;
  margin-bottom: 14px;
  margin-top: 28px;
}

.prof {
  font-style: italic;
}
.team-list-item {
  list-style: none;
}
.facebook:hover,
.twitter:hover,
.pinterest:hover,
.instagram:hover {
  background-color: #95e1d3;
}
.icon {
  background-color: #fce38a;
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 1px;
}
.icon a {
  display: block;
  height: 100%;
}

.facebook {
  background-image: url(../img/share/facebook.png);
}
.twitter {
  background-image: url(../img/share/twitter.png);
}
.pinterest {
  background-image: url(../img/share/pinterest.png);
}
.instagram {
  background-image: url(../img/share/instagram.png);
}

.footer {
  display: flex;
  justify-content: space-between;
  min-height: 63px;
  align-items: center;
  margin-top: 84px;
  border-top: 1px solid #e5e5e5;
}

.footer a {
  text-decoration: none;
  color: #f38181;
}

.copywrite {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.subscribe {
  display: flex;
  text-align: start;
}
form {
  display: flex;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
  background: #f38181;
}
button[type="submit"] {
  background: #95e1d3;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 600;
  padding: 12px 33px;
  font-size: 14px;
  line-height: 1.2;
  border: none;
  transition: background 0.2s linear;
  cursor: pointer;
}
input[type="email"] {
  width: 230px;
  height: 40px;
  padding-left: 12px;
  color: #cccccc;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  border: 1px solid #e7e7e7;
}

input[type="email"]::placeholder {
  color: #cccccc;
}
