.hero {
  background-image: url(../images/background/background-image.jpg);
  width: 100%;
  background-position: center;
  background-size: cover;
}

.hero-content {
  padding: 234px 0 230px;
  text-align: center;
}

.hero-content__pre-title {
  text-align: center;
  line-height: 0.993;
  color: $white-color;
  font-size: 72px;
  font-family: $main-font-title;
  margin-bottom: 60px;
}

.hero-content__title {
  margin-bottom: 125px;
  padding: 0 100px;
  color: $white-color;
  font-size: 150px;
  line-height: 140px;
  text-transform: uppercase;
  font-family: $main-font-stack;
  font-weight: 800;
}

.hero-content__button {
  cursor: pointer;
  text-transform: uppercase;
  color: $white-color;
  background: transparent;
  border: 3px solid $white-color;
  font-size: 14px;
  font-family: $main-font-stack;
  font-weight: 600;
  padding: 12px 30px;
  transition: $hover-animation;

  &:hover {
    color: $primary-red-color;
    border: 3px solid $primary-red-color;
  }
}
