.main-menu {
  display: flex;
  width: 620px;
  justify-content: space-between;
}

.main-menu__list-item {
  list-style: none;
}

.main-menu__item-link {
  text-decoration: none;
  color: $white-color;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;

  &:hover,
  &:focus {
    color: $primary-yellow-color;
  }

  &:after {
    content: '';
    width: 0;
    height: 3px;
    background-color: $primary-yellow-color;
    position: absolute;
    bottom: -12px;
    left: 0;
    opacity: 0;
    transition: $hover-animation;
  }

  &:hover:after {
    opacity: 1;
    width: 100%;
  }
}

.main-menu__button {
  width: 18px;
  height: 18px;
  fill: $white-color;
  transition: $hover-animation;

  &:hover {
    fill: $primary-yellow-color;
  }
}
