#gallery {
  width: 1000px;
  display: flex;
}

.gallery-item {
  list-style-type: none;
  width: 400px;
  height: auto;
  margin-right: 20px;
}
.gallery-item img {
  width: 100%;
  height: auto;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
