$main-font-stack: "Montserrat", sans-serif;
$main-font-title: 'Kaushan Script', cursive;
$main-font-text: 'Roboto', sans-serif;
$hover-animation:  all 0.2s linear;
$white-color: #fff;
$primary-red-color: #f38181;
$primary-yellow-color: #fce38a;
$primary-dark-color: #333333;
$footer-inf-color: #e5e5e5;
$primary-bg-color: #95e1d3;
$font-text-color: #999999;
$input-border-color: #e7e7e7;
$input-placeholder-color: #cccccc;